<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/head'); %>
        <title>Studors - Failed </title>
</head>

<body>
    <div id="flex-box">
        <%- include('../../components/header'); %>
            <h1>Authentication failed. You are either not allowed on this site or there was an error.</h1>
            <%- include('../../components/footer'); %>
    </div>
</body>

</html>