<div id="home-buttons">
    <button onclick="location.href='find'" type="button">
        <%= label %>
    </button>
    <button onclick="location.href='settings'" type="button">
        Edit your account
    </button>
    <button onclick="location.href='/auth/logout'" type="button">
        Logout
    </button>
</div>