<div class="home-buttons">
    <button onclick="location.href='upcoming'" type="button">
        Upcoming Sessions
    </button>
    <button onclick="location.href='find'" type="button">
        Schedule a new session
    </button>
    <button onclick="location.href='history'" type="button">
        Session History
    </button>
</div>
