<footer>
    <hr>
    <ul>
        <li><a class="home-footer" href="/">Home</a></li>
        <li><a class="about-footer" href="/about">About</a></li>
        <li><a class="mission-footer" href="/mission">Mission</a></li>
        <li><a class="contact-footer" href="/contact">Contact</a></li>
    </ul>
</footer>
