<footer>
    <ul>
        <li><a id="about-footer" href="/about">About</a></li>
        <li><a id="mission-footer" href="/mission">Our Mission</a></li>
        <li><a id="contact-footer" href="/contact">Contact Us</a></li>
    </ul>
</footer>