<header>
    <a href="/">
        <picture>
            <source srcset="/img/studors.webp" type="image/webp">
            <source srcset="/img/studors.png" type="image/png">
            <img src="/img/studors.png" alt="Studors Logo" />
        </picture>
    </a>
    <hr />
</header>