<header>
  <a draggable="false" href="/home">
    <picture>
      <source srcset="/img/studors.webp" type="image/webp">
      <source srcset="/img/studors.png" type="image/png">
      <img src="/img/studors.png" alt="Studors Logo" />
    </picture>
  </a>
  <h2 id="usertype" style="float:right;margin-right:10px;">
    <%=pos%>
  </h2>
  <hr>
</header>