<div class="navbar">
    <ul>
        <li><a class="nav-home" href="home">Home</a></li>
        <li><a class="nav-upcoming" href="upcoming">Upcoming Sessions</a></li>
        <li><a class="nav-history" href="history">Session History</a></li>
    </ul>
</div>
