<div class="navbar">
    <ul>
        <li><a draggable="false" class="settings" href="settings">Account Settings</a></li>
        <li><a draggable="false" class="logout" href="/auth/logout">Logout</a></li>
    </ul>
</div>
