<form id="navbar" action='/auth/logout' method='post'>
  <ul>
    <li><a draggable="false" class="settings" href="settings" style="border-radius:0;border-top-left-radius:5px;border-top-right-radius:5px;">Account Settings</a></li>
    <li><a draggable="false" type="submit" class="logout" onclick="document.getElementById('navbar').submit();" href="#" style="border-radius:0;border-bottom-left-radius:5px;border-bottom-right-radius:5px;">Logout</a></li>
  </ul>
</form>