/* Body setup */
html {
    /* Dark Mode:
    filter: invert(1) hue-rotate(180deg);*/
    background-color: #efefef;
    font-family: "Open Sans", Verdana;
    overflow: hidden;
}

/* Footer setup */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

footer ul {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    flex-direction: row;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: calc(6px + 1.5vw);
}

footer li {
    float: right;
    border-right: 1px solid #bbb;
}

footer li:last-child {
    border-right: none;
}

footer li a {
    display: block;
    color: #434343;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer li a:hover {
    background-color: #CCC;
}

/* Header setup */
header img {
    width: 25%;
    height: auto;
}

/* Navbar Setup */
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10vw;
    border: 1px solid #555;
    border-radius: 10px;
}

#navbar li {
    text-align: center;
    border-bottom: 1px solid #555;
}

#navbar li:last-child {
    border-bottom: none;
}

#navbar li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
}

#navbar li a:hover {
    background-color: #CCC;
}

#navbar li a:active {
    background-color: #AAA;
}

/* Home specific */

#profile img {
    border-radius: 50%;
    width: 96;
    height: 96;
}

#profile p.name {
    font-size: calc(8px + 1vw);
}

#profile p.grade {
    font-size: calc(6px + 1vw);
}

/* Resizable window support */

/* Mobile devices */
@media (max-aspect-ratio: 11/16) {
    header img {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer ul {
        justify-content: center;
    }
}