/* Body setup */
html {
    background-color: #efefef;
    font-family: "Open Sans", Verdana;
    height: 100%;
}

body {
    margin: 0;
    height: 100%
}

button {
    cursor: pointer;
    color: #434343;
    font-size: calc(6px + 1vw);
    border-radius: 1vw;
    padding: 0.75vw;
    margin: 1vw;
    font-weight: 500;
}

button:hover {
    background-color: #DDD;
}

li a:hover {
    background-color: #DDD;
}

li a:active {
    background-color: #BBB;
}

#flex-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

/* Footer setup */

footer ul {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: calc(6px + 1.5vw);
}

footer li {
    border-right: 1px solid #BBB;
}

footer li:last-child {
    border-right-style: none;
}

footer li a {
    display: block;
    color: #434343;
    padding: 9px 16px;
    text-decoration: none;
}

/* Header setup */
header img {
    filter: none !important;
    min-height: 40px;
    height: 10vh;
}

/* Navbar Setup */
#navbar {
    margin-left: 2.5vw;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    border: 1px solid #555;
    border-radius: 10px;
}

#navbar ul li {
    text-align: center;
    border-bottom: 1px solid #555;
}

#navbar li:last-child {
    border-bottom: none;
}

#navbar li a {
    font-size: calc(4px + 1.5vw);
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #000;
}

/* Home specific */

#home-internal {
    display: flex;
    align-items: center;
}

#home-center-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#profile {
    display: flex;
    align-items: center;
}

#profile div p.name {
    font-size: calc(6px + 1.5vw);
    margin: 0;
}

#profile div p.grade {
    color: #333;
    font-size: calc(4px + 1vw);
    margin: 0;
}

#profile img {
    filter: none !important;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    max-width: 256px;
    max-height: 256px;
}

#home-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-buttons button {
    width: 100%;
}

#right-hidden-navbar {
    margin-left: 22.5vw;
}

#topbar ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: calc(6px + 1.5vw);
}

#topbar li {
    border-right: 1px solid #BBB;
}

#topbar li:last-child {
    border-right: none;
}

#topbar li a {
    display: block;
    color: #434343;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
}

/* Settings specific */

/* Setup holder to hold info between header and footer */
#holder {
    display: flex;
    justify-content: center;
}

#settings-box {
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    border: 2px solid #434343;
    border-radius: 5%;

    font-size: calc(6px + 1vw);
}

#settings-box form {
    text-align: center;
}

#settings-box input {
    width: calc(60px + 7vw);
    font-size: calc(6px + 1vw);
    padding: 0.5vw 0vw 0.5vw 0.5vw;
}

#settings-box button {
    color: #434343;
    font-size: calc(6px + 1vw);
    text-align: center;
    border-radius: 12px;
    padding: 0.5vw;
    margin: 1vw;
    font-family: "Open Sans", Verdana;
    font-weight: 500;
}

#small-error {
    color: red;
    white-space: pre-line;
}

/* Resizable window support */

/* Mobile devices */
@media (max-aspect-ratio: 11/16) {
    header img {
        height: auto;
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Home specific */
    /* Remove padding and side navbar and add top bar */
    #right-hidden-navbar {
        display: none;
    }

    #navbar {
        display: none;
    }

    #topbar ul {
        display: flex;
    }

    /* Properly size profile and buttons */
    #home-buttons button {
        font-size: calc(6px + 2vw);
    }

    #profile {
        flex-direction: column;
        justify-content: center;
    }

    #profile img {
        width: 20vw;
        height: 20vw;
    }

    #profile div p.name {
        font-size: calc(6px + 2vw);
        text-align: center;
    }

    #profile div p.grade {
        font-size: calc(4px + 1.5vw);
        text-align: center;
    }
}