/* Body setup */
html {
    /* Dark Mode:
    filter: invert(1) hue-rotate(180deg);*/
    background-color:#efefef;
    font-family: "Open Sans", Verdana;
    overflow: hidden;
}

/* Footer setup */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer-content {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    flex-direction: row;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: calc(6px + 1.5vw);
}

li {
    float: right;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #434343;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #CCC;
}

/* Title setup */
.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 0;
}

.subtitle {
    font-style: italic;
    font-size: calc(4px + 1.5vw);
    text-align: center;
    font-weight: 300;
    color: #222222;
}

/* Login buttons setup */
.button {
    background-color:#d9d9d9;
    border: none;
    color:#434343;
    font-size: calc(8px + 2.5vw);
    text-align: center;
    border-radius: 12px;
    padding: 12px;
    margin: 1vw;
    min-width: 35%;
    font-family: "Open Sans", Verdana;
    font-weight: 500;
    z-index: 100;
}

.button:hover {
    background-color: #cccccc;
}

.button-container {
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: center;
    align-items: center;
}


/* Resizable window support */
@media (max-aspect-ratio: 11/16) {
    .title {
        width: 70%;
    }
    .button {
        width: 60%;
    }
    .button-container {
        flex-direction: column;
    }
}

@media (min-aspect-ratio: 43/18) {
    .footer-content {
        flex-direction: column;
    }
}