<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - About</title>
  <style>
    /* Current page bold */
    .about-footer {
      font-weight: 900;
    }
  </style>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="about-info">
    <p><a href="https://github.com/Unofficial-LSW-Programming-Club/studors">Studors</a> is a web service that allows students to get in contact with volunteer student tutors</p>
    <p>Leader and sole developer, <a href="https://github.com/blaine-t">Blaine Traudt</a></p>
    <p>Web Design courtesy of <a href="https://github.com/G2-Games">Grant Gardner</a></p>
    <p>Logo licensed from Louis Quattrocchi under the <a href="https://creativecommons.org/licenses/by-nc/3.0/">CC BY-NC 3.0 License</a></p>
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>