<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/head'); %>
    <title>Studors - About</title>
</head>
<style>
    .about-footer {
        font-weight: 900;
    }
</style>
<body>
    <%- include('../../components/header'); %>
    <div class="about-info">
        <p>A web service that allows students to get in contact with volunteer student tutors</p>
        <p>Developed by Blaine Traudt</p>
        <p>Designed by Grant Gardner</p>
        <p>Logo by Louis Quattrocchi under the CC BY-NC 3.0 License</p>
    </div>
    <%- include('../../components/footer'); %>
</body>

</html>
