<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/head'); %>
    <title>Studors - Contact</title>
</head>
<style>
    .contact-footer {
        font-weight: 900;
    }
</style>

<body>
    <%- include('../../components/header'); %>
    <div class="about-info">
        <p> Email: contact@example.com</p>
    </div>
    <%- include('../../components/footer'); %>
</body>

</html>
