<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" />
    <title>Studors</title>
</head>

<body>
  <script>0</script>
  <img class="title" src="img/studors.webp" />
  <h3 class="subtitle">Where students can learn from each other</h3>
  <br />
  <div class="button-container">
    <button class="button" onclick="location.href='auth/tutor'" type="button">
      Login as a tutor
    </button>
    <button class="button" onclick="location.href='auth/student'" type="button">
      Login as a student
    </button>
  </div>
  <footer>
    <ul class="footer-content">
      <li><a href="about">About</a></li>
      <li><a href="mission">Our Mission</a></li>
      <li><a href="contact">Contact Us</a></li>
      <li><a href="auth/admin">Admin</a></li>
    </ul>
  </footer>
</body>

</html>