<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../components/head'); %>
    <title>Studors</title>
  </head>

  <body>
    <h3>Where students can learn from each other</h3>
    <div>
      <img src="img/studors.webp" />
      <button onclick="location.href='auth/tutor'" type="button">
        Login as a tutor
      </button>
      <button onclick="location.href='auth/student'" type="button">
        Login as a student
      </button>
    </div>
    <footer>
      <%- include('../../components/footer'); %>
      <a href="auth/admin">Admin Login</a>
    </footer>
  </body>
</html>
