<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/head'); %>
        <title>Studors - Mission</title>
</head>

<style>
    #mission-footer {
        font-weight: 900;
    }

    #mission-info p {
        font-size: 1vw;
    }
</style>

<body>
    <div id="flex-box">
        <%- include('../../components/header'); %>
            <div id="mission-info">
                <p> We hope to empower students to allow them to get the tutoring they need through the convenience of
                    the web
                </p>
            </div>
            <%- include('../../components/footer'); %>
    </div>
</body>

</html>