<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <title>Studors - Mission</title>

  <style>
    /* Current page bold */
    .mission-footer {
      font-weight: 900;
    }
  </style>
</head>

<body>
  <%- include('../../components/header'); %>
  <div class="about-info">
    <p>We hope to empower students to allow them to get the tutoring they need through the convenience of the web</p>
  </div>
  <%- include('../../components/footer'); %>
</body>

</html>