.title h1 {
  color: #e6e6e6;
}

.login-buttons button {
  background-color: #595959;
}

.login-buttons button:hover {
  background-color: #373737;
}

/* Misc stuff... sort */
.about-info {
  border-color: #e8413c;
}

/* Body setup */
html {
  background-color: #1a1a1a;
  color: white;
}

.mainbutton {
  color: #f2f2f2;
  border: 2px solid grey;
}

.mainbutton:hover {
  background-color: #2b2a2a;
}

.returnbutton {
  color: #f0f0f0;
}

li a:hover {
  background-color: #444;
}

li a:active {
  background-color: #444;
}

.admin-list button {
  color: #f0f0f0;
}

/* Footer setup */
footer {
  background-color: #353535;
}

footer li {
  border-right: 1px solid #BBB;
}

footer li a {
  color: #ddd;
}

footer li a:hover {
  background-color: #444;
}

footer hr {
  background-color: #BBB;
}

/* Header setup */
header img {
  filter: brightness(125%);
}

header hr {
  background-color: #8e8e8e;
}

/* Navbar Setup */
#navbar ul {
  border: 1px solid #555;
}

#navbar ul li {
  border-bottom: 1px solid #555;
}

#navbar li a {
  color: #ddd;
}

/* Home specific */
.profile div p.grade {
  color: #b5b5b5;
}

.profileimg {
  border-right: 2px solid #666;
}

.profile img {
  border-color: #fffbfb;
}

.home-buttons button {
  background-color: #2d2c2c;
}

.home-buttons button:hover {
  background-color: #3a3a3a;
}

#topbar ul {
  border-bottom: 1px solid #BBB;
}

#topbar li {
  border-right: 1px solid #BBB;
}

#topbar li a {
  color: #d9d9d9;
}

#topbar li a:hover {
  background-color: #444;
}

/* Settings specific */
.settings-box {
  border-color: #757575;
}

.settings-box input[type="tel"] {
  border-color: black;
  background-color: #e1e1e1;
}

.settings-box form button,
.maincontent form button,
#manage-form form button,
#apiKey p button,
.returnbutton {
  color: #f0f0f0;
  background-color: #3c3c3c;
}

.settings-box form button:hover,
.maincontent form button:hover,
#manage-form form button:hover,
#apiKey p button:hover,
.returnbutton:hover {
  background-color: #2b2a2a;
}

#manage-form input[type="text"] {
  font-size: 20pt;
  padding: 5px;
  width: 99%;
  background-color: #111;
  color: white;
}

.check span {
  border-color: grey;
  color: #CCC;
  background-color: #d9d9d9;
}

.check span:hover {
  background-color: #BBB;
}

[type=checkbox]:checked+span {
  background-color: #444;
}

#datepicker,
#subjectpicker,
#tutorpicker,
#timepicker,
#durationpicker {
  background-color: #3c3c3c;
  color: #f0f0f0;
}

#datepicker:hover,
#subjectpicker:hover,
#tutorpicker:hover,
#timepicker:hover,
#durationpicker:hover {
  background-color: #2b2a2a;
}

.small-error {
  color: #e8413c;
}

.small-success {
  color: #5ccc00;
}

.small-info {
  color: #17bcef;
}

@media (max-width: 600px) {
  .profileimg {
    border: none;
    border-bottom: 2px solid #666;
  }
}

/* DateTimeJS stuff */
.picker {
  color: white;
}

.picker__box {
  background-color: #2d2a2a !important;
}

.picker__month {
  color: white;
}

.picker__day {
  border-color: #fff0;
  background-color: #676867;
  color: white;
}

.picker__day--disabled {
  background-color: #393939 !important;
  border-color: #f5f5f530 !important;
  color: #dddddd80 !important;
}

.picker__button--today,
.picker__button--clear,
.picker__button--close {
  border-color: #fff6 !important;
}

.picker__button--today:hover,
.picker__button--clear:hover,
.picker__button--close:hover {
  color: white !important;
}

.picker__list-item {
  background-color: #424242 !important;
  color: white;
}

.picker__list-item--selected,
.picker__list-item--selected:hover,
.picker--focused .picker__list-item--selected {
  background: #e8413c !important;
}

.picker__list-item:hover {
  background: #ff7671 !important;
  color: white;
}

/* DataTables stuff */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: #fff !important;
}

.dataTables_wrapper .dataTables_length select {
  color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #c4c4c4 !important;
}