<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head'); %>
    <title>TITLE</title>
  </head>

  <body>
    <header><%- include('../components/header'); %></header>
    <div>
      <h1>File upload</h1>
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
      </form>
    </div>
    <footer><%- include('../components/footer'); %></footer>
    <script></script>
  </body>
</html>
