<footer>
  <hr>
  <h3 id="schoolname" style="position: fixed;margin-left:10px;width: fit-content;"><%=process.env.SCHOOL%></h3>
  <ul>
    <li><a draggable="false" class="home-footer" href="/home">Home</a></li>
    <li><a draggable="false" class="about-footer" href="/about">About</a></li>
    <li><a draggable="false" class="mission-footer" href="/mission">Mission</a></li>
    <li><a draggable="false" class="contact-footer" href="/contact">Contact</a></li>
  </ul>
</footer>
