<header>
  <a selectable="false" draggable="false" href="/home">
    <picture selectable="false" draggable="false">
      <source selectable="false" draggable="false" srcset="/img/studors.webp" type="image/webp">
      <source selectable="false" draggable="false" srcset="/img/studors.png" type="image/png">
      <img selectable="false" draggable="false" src="/img/studors.png" alt="Studors Logo" />
    </picture>
  </a>
  <h2 id="usertype" style="margin-right:10px;bottom:50px;position:relative;right:0;width:fit-content;margin-left:auto;">
    <%=pos%>
  </h2>
  <hr>
</header>