<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../components/head'); %>
        <title>Studors - Admin</title>
</head>

<style>
    #manage-form {
        font-size: 20pt;
        margin-left: 1vw;
    }

    #manage-form input[type=text] {
        font-size: 20pt;
        padding: 0.3vw 0vw 0.3vw 0.3vw;
        width: 95vw;
    }

    body {
        height: 100%;
    }

    button {
    margin-left: 0;
    margin-bottom: 55px;
    }
</style>

<body>
    <%- include('../../components/header'); %>
    <div id="flex-box">
        <div id="manage-form">
            <form action="" method="post">
                <label for="allowedStudentDomain">Allow student domain(s):</label>
                <input type="text" id="allowedStudentDomain" name="allowedStudentDomain"
                    pattern="^(@[\w\-.]+\.[A-Za-z]{2,4}[\W]*[,\s]{1}[\W]*)*(@[\w\-.]+\.[A-Za-z]+)[\W]*$"
                    placeholder="@example.org,@example.com"
                    oninvalid="setCustomValidity('Please enter an email or list of emails with this format: @example.com,@example.org')"
                    oninput="setCustomValidity('')">
                <br>
                <label for="allowedTutors">Allow tutor(s):</label>
                <input type="text" id="allowedTutors" name="allowedTutors"
                    pattern="^[\W]*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4}[\W]*[,\s]{1}[\W]*)*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4})[\W]*$"
                    placeholder="test@example.com,test2@example.com"
                    oninvalid="setCustomValidity('Please enter an email or list of emails with this format: test@example.com,test2@example.com')"
                    oninput="setCustomValidity('')">
                <br>
                <label for="allowedAdmins">Allow admin(s):</label>
                <input type="text" id="allowedAdmins" name="allowedAdmins"
                    pattern="^[\W]*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4}[\W]*[,\s]{1}[\W]*)*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4})[\W]*$"
                    placeholder="test@example.com,test2@example.com"
                    oninvalid="setCustomValidity('Please enter an email or list of emails with this format: test@example.com,test2@example.com')"
                    oninput="setCustomValidity('')">
                <br>
                <label for="revokedStudentDomain">Revoke student domain(s):</label>
                <input type="text" id="revokedStudentDomain" name="revokedStudentDomain"
                    pattern="^(@[\w\-.]+\.[A-Za-z]{2,4}[\W]*[,\s]{1}[\W]*)*(@[\w\-.]+\.[A-Za-z]+)[\W]*$"
                    placeholder="@example.org,@example.com"
                    oninvalid="setCustomValidity('Please enter an email or list of emails with this format: @example.com,@example.org')"
                    oninput="setCustomValidity('')">
                <br>
                <label for="revokedTutors">Revoke tutor(s):</label>
                <input type="text" id="revokedTutors" name="revokedTutors"
                    pattern="^[\W]*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4}[\W]*[,\s]{1}[\W]*)*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4})[\W]*$"
                    placeholder="test@example.com,test2@example.com"
                    oninvalid="setCustomValidity('Please enter an email or list of emails with this format: test@example.com,test2@example.com')"
                    oninput="setCustomValidity('')">
                <br>
                <label for="revokedAdmins">Revoke admin(s):</label>
                <input type="text" id="revokedAdmins" name="revokedAdmins"
                    pattern="^[\W]*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4}[\W]*[,\s]{1}[\W]*)*([\w+\-.%]+@[\w\-.]+\.[A-Za-z]{2,4})[\W]*$"
                    placeholder="test@example.com,test2@example.com"
                    oninvalid="setCustomValidity('Please enter an email or list of emails with this format: test@example.com,test2@example.com')"
                    oninput="setCustomValidity('')">
                <br><hr>
                <label style="width: 350px;display: block;">
                    <label for="inc_grade">Increment Grade:</label>
                    <label class="check"><input style="display: none;" type="checkbox" id="inc_grade" name="inc_grade"><span></span></label>
                    <br><hr>
                    <label for="rem_student_grade">Remove students >12:</label>
                    <label class="check"><input style="display: none;" type="checkbox" id="rem_student_grade" name="rem_student_grade"><span></span></label>
                    <br><hr>
                    <label for="rem_tutor_grade">Remove tutors >12:</label>
                    <label class="check"><input style="display: none;" type="checkbox" id="rem_tutor_grade" name="rem_tutor_grade"><span></span></label>
                    <br><hr>
                    <label for="rem_students">Remove all students:</label>
                    <label class="check"><input style="display: none;" type="checkbox" id="rem_students" name="rem_students"><span></span></label>
                    <br><hr>
                    <label for="rem_tutors">Remove all tutors:</label>
                    <label class="check"><input style="display: none;" type="checkbox" id="rem_tutors" name="rem_tutors"><span></span></label>
                </label>
                <% if (error != '') { %>
                <p id="small-error">
                    <%=error %>
                </p>
                <%} %>
                <button type="submit">Apply</button>
            </form>
        </div>
    </div>
    <%- include('../../components/footer'); %>
</body>

</html>
