NODE_ENV=production

SCHOOL=Example High
CONTACT=Email: <a href = 'mailto: studors@example.com'>studors@example.com</a><br><br>Phone: <a href = 'tel: 800-555-5555'>+1 800 555 5555</a>

GOOGLE_CLIENT_ID=XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_STUDENT_REDIRECT_URL=http://127.0.0.1:19090/auth/student/google
GOOGLE_TUTOR_REDIRECT_URL=http://127.0.0.1:19090/auth/tutor/google
GOOGLE_ADMIN_REDIRECT_URL=http://127.0.0.1:19090/auth/admin/google

PGUSER=studorsadmin
PGHOST=db
PGDATABASE=studors
PGPASSWORD=RANDOM_PASSWORD_HERE
PGPORT=37073